[submodule "Live-Project-1-Street-Style-Landing-Page"]
	path = Live-Project-1-Street-Style-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-1-Street-Style-Landing-Page
[submodule "Live-project-2-Food-and-Restaurant-Home-Page"]
	path = Live-project-2-Food-and-Restaurant-Home-Page
	url = https://github.com/swathi-babashankar/Live-project-2-Food-and-Restaurant-Home-Page
[submodule "Live-Project-3-Law-Home-Page"]
	path = Live-Project-3-Law-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-3-Law-Home-Page
[submodule "Live-Project-4-Digital-Marketing-Home-Page"]
	path = Live-Project-4-Digital-Marketing-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-4-Digital-Marketing-Home-Page
[submodule "Live-Project-5-Crypto-Landing-Page"]
	path = Live-Project-5-Crypto-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-5-Crypto-Landing-Page
[submodule "Live-Project-6-Plant-Home-Page"]
	path = Live-Project-6-Plant-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-6-Plant-Home-Page
[submodule "Live-Project-7-Product-Home-Page"]
	path = Live-Project-7-Product-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-7-Product-Home-Page
[submodule "Live-Project-8-Design-Landing-Page"]
	path = Live-Project-8-Design-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-8-Design-Landing-Page
[submodule "Live-Project-9-Developer-Home-Page"]
	path = Live-Project-9-Developer-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-9-Developer-Home-Page
[submodule "Live-Project-10-Interior-Design-Home-Page"]
	path = Live-Project-10-Interior-Design-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-10-Interior-Design-Home-Page
[submodule "Live-Project-11-Hosting-Landing-Page"]
	path = Live-Project-11-Hosting-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-11-Hosting-Landing-Page
[submodule "Live-Project-12-Business-Landing-Page"]
	path = Live-Project-12-Business-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-12-Business-Landing-Page
[submodule "Live-Project-13-SAAS-Landing-Page"]
	path = Live-Project-13-SAAS-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-13-SAAS-Landing-Page
[submodule "Live-Project-14-Dance-Home-Page"]
	path = Live-Project-14-Dance-Home-Page
	url = https://github.com/swathi-babashankar/Live-Project-14-Dance-Home-Page
[submodule "Live-Project-15-Product-Design-Landing-Page"]
	path = Live-Project-15-Product-Design-Landing-Page
	url = https://github.com/swathi-babashankar/Live-Project-15-Product-Design-Landing-Page
